<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dankbox Movieplex</title>
    
    <!-- We are conditionally including test support if the showTests
     variables has been set. -->
    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}

    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <img src="/img/logo.png" alt="Dankbox Movieplex" height="233" width="400"/>
    {{{body}}}
    {{#if showTests}}
        <div id="mocha"></div>
        <script src="/vendor/mocha.js"></script>
        <script src="/vendor/chai.js"></script>
        <script>
            mocha.ui('tdd');
            var assert = chai.assert;
        </script>

        <script src="/qa/tests-global.js"></script>
        {{#if pageTestScript}}
            <script src="{{pageTestScript}}"></script>
        {{/if}}
        <script>mocha.run();</script>
    {{/if}}

    <!-- We add the jQuery library because we will be using it
     to manipulate HTML in the browser. -->
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>