<!--The about class, this will be our about handlebars template. !-->
<!DOCTYPE html>

<h1>Dankbox Movieplex</h1>
<h2>The central hub for all your dank movie needs!</h2>
				 		
<p>{{{description}}}</p>
<p>{{{problems}}}</p>
				 		
<ul>
{{#each this}}
	{{use}}
{{/each}}
</ul>
