{{>navbar}} <!--Navbar Partial-->
<h1>Create a New Tier List</h1>
<br>
<form method="post" action="/submitNewTierList" id="addTierList" class= "form-inline"> <!--Change this action value for real movie additions-->
    Tier List Name: <input type="text" name="tierListName" class= "form-control"> <br>
    {{#times tierListSize}}
        <select name="tierListResults" form="addTierList" class="form-control">
            {{#each movieCollection}}
                <option value="{{imdbID}}">{{title}}</option>
            {{/each}}
        </select> <br>
    {{/times}}
    <button class="btn btn-default">Save</button>
</form>
