{{>navbar}} <!--Navbar Partial-->
<h1>Create a New Tier List</h1>
<br>
<form method="post" action="/submitNewTierList" id="addTierList"> <!--Change this action value for real movie additions-->
    Tier List Name: <input type="text" name="tierListName"> <br>
    {{#times tierListSize}}
        <select name="tierListResults" form="addTierList">
            {{#each movieCollection}}
                <option value="{{imdbID}}">{{name}}</option>
            {{/each}}
        </select> <br>
    {{/times}}
    <button>Save</button>
</form>
