{{>navbar}} <!--Navbar Partial-->
<h1>Admin Page</h1>
<table>
    <tr>
        <td>
            Username
        </td>
        <td>
            View Profile
        </td>
        <td>
            Ban User
        </td>

    </tr>
    {{#each users}}
        <tr>
            <td>
                {{username}}
            </td>
            <td>
                <form method="post" action="/viewUserProfile" class="form-inline"> <!--Change this action value for real movie additions-->
                    <input type="hidden" name="userProfile" value={{username}}>
                    <button class="btn btn-default">View</button>
                </form>
            </td>
            <td>
                <form method="post" action="/banUser" class="form-inline"> <!--Change this action value for real movie additions-->
                    <input type="hidden" name="banUser" value={{username}}>
                    <button class="btn btn-default">Ban</button>
                </form>
            </td>
        </tr>
    {{/each}}
</table>