<h1>{{name}} Review</h1>
<br>
<table>
    <tr>
        <textarea form="editReviewForm" name="newComment">{{comment}}</textarea>
        <form method="post" action="/editReviewSubmission" id="editReviewForm"> <!--Change this action value for real movie additions-->
            <input type="hidden" name="imdbID" value="{{imdbID}}">
            <button>Save</button>
        </form>
    </tr>
</table>
