<form action="/main" method="get">
    <input type="submit" value="Movies"
           name="Main" id="editReview_main" />
</form>
<br>
<form action="/tags" method="get">
    <input type="submit" value="Tags"
           name="Tags" id="editReview_tags" />
</form>
<br>
<form action="/tierLists" method="get">
    <input type="submit" value="Tier Lists"
           name="tierLists" id="editReview_tierLists" />
</form>
<br>
<form action="/profile" method="get">
    <input type="submit" value="Profile"
           name="Profile" id="editReview_profile" />
</form>
<br>
<form method="post" action="/search"> <!--Change this action value for real searches-->
    Movie Title: <input type="text" name="movieSearch"> <br>
    <button>Search</button>
</form>
<br>
<form action="/logout" method="post">
    <input type="submit" value="Logout"
           name="Logout" id="editReview_logout" />
</form>
<br>
<h1>{{name}} Review</h1>
<br>
<table>
    <tr>
        <textarea form="editReviewForm" name="newComment">{{comment}}</textarea>
        <form method="post" action="/editReviewSubmission" id="editReviewForm"> <!--Change this action value for real movie additions-->
            <input type="hidden" name="imdbID" value="{{imdbID}}">
            <button>Save</button>
        </form>
    </tr>
</table>
