<h1>Dankbox Movieplex</h1>

<h2>Main Page</h2>
<img src="/img/wireframes/Main_Page.png" alt="wireframe"/>
<p>
	<a href="/admin"> Admin </a> <br>
	<a href="/profile"> Profile </a> <br>
	<a href="/search"> Search </a> <br>
</p>