<h1>Dankbox Movieplex</h1>

<h2>Login Page</h2>
<img src="/img/wireframes/Login_Page.png" alt="wireframe"/>
<p>
	<a href="/main"> Main </a> <br>
	<a href="/signup"> Signup </a> <br>
	<a href="/splash"> Splash </a> <br>
</p>