<h2>Login Page</h2>

<div>{{message}}</div><br>

<form action="/splash" method="get">
    <input type="submit" value="Back"
           name="Splash" id="login_splash" />
</form> <br>

<form action="/login" method="post" action="/auth"> <!--Change this action value for real authentication-->
    User Name: <input type="text" name="user_name"> <br>
    Password:  <input type="password" name="user_pass"> <br>
    <button>Login</button>
</form>