<h2>Login Page</h2>
<form action="/splash" method="get">
    <input type="submit" value="Back"
           name="Splash" id="login_splash" />
</form> <br>

<form method="post" action="/auth"> <!--Change this action value for real authentication-->
    User Name: <input type="text" name="username"> <br>
    Password:  <input type="password" name="username"> <br>
    <button>Login</button>
</form>