<h2>Signup Page</h2>
<div>{{message}}</div><br>
<form action="/splash" method="get">
    <input type="submit" value="Back"
           name="Splash" id="signup_splash" />
</form> <br>

<form action="/signup" method="post" action="/register"> <!--Change this action value for real signups-->
    User Name: <input type="text" name="userName"> <br>
    Password:  <input type="password" name="userPass"> <br>
    <button>Create Account</button>
</form>