<h1> Splash Page </h1>
<form action="/login" method="get">
    <input type="submit" value="Login"
           name="Login" id="splash_login" />
</form>
<form action="/signup" method="get">
    <input type="submit" value="Signup"
           name="Signup" id="splash_signup" />
</form>
