{{>navbar}} <!--Navbar Partial-->
<h2>Your Tags</h2>
<br>
<div class="panel panel-default">
  <div class="panel-body">
    <form action="/addTag" method="post" class="form-inline">
        Tag Name: <input type="text" name="tagName" class="form-control">
        <input type="submit" value="Create New Tag"
               name="Create New Tag" id="profile_addTag" class="btn btn-default"/>
    </form>
    <br>
    <table>
        <tr>
            {{#each tagsCollection}}
                <td>
                    <table>
                        <tr>
                            <td>
                                {{name}}
                            </td>
                            <td>
                                <form method="post" action="/deleteTag" class="form-inline"> <!--Change this action value for real movie additions-->
                                    <input type="hidden" name="index" value="{{@index}}">
                                    <input type="hidden" name="imdbID" value="{{imdbID}}">
                                    <button style="margin-left: 10px; margin-right: 30px;" class="btn btn-default">Delete</button>
                                </form>
                            </td>
                        </tr>
                        {{#each moviesList}}
                            <tr>
                                <td>
                                    {{this}}
                                </td>
                            </tr>
                        {{/each}}
                    </table>
                </td>
            {{/each}}
        </tr>
    </table>
  </div>
</div>
