{{>navbar}} <!--Navbar Partial-->
<h1>Tier Lists Page</h1>
<br>
<h2>Tier Lists</h2>
<br>
<form action="/addTierList" method="post">
    Tier List Size: <input type="text" name="tierListSize">
    <input type="submit" value="Create New Tier List"
           name="Create New Tier List" id="tierLists_addTierList" />
</form>
<br>
<table>
    <tr>
        {{#each tierListsCollection}}
            <td>
                <table>
                    <tr>
                        <td>
                            {{name}}
                        </td>
                        <td>
                            <form method="post" action="/deleteTierList"> <!--Change this action value for real movie additions-->
                                <input type="hidden" name="index" value="{{@index}}">
                                <button>Delete</button>
                            </form>
                        </td>
                    </tr>
                    {{#each tierList}}
                        <tr>
                            <td>
                                {{name}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </td>
        {{/each}}
    </tr>
</table>