<!--Change the keywords as needed in final version-->
<form action="/main" method="get">
    <input type="submit" value="Movies"
           name="Main" id="tierLists_main" />
</form>
<br>
<form action="/tags" method="get">
    <input type="submit" value="Tags"
           name="Tags" id="tierLists_tags" />
</form>
<br>
<form action="/profile" method="get">
    <input type="submit" value="Profile"
           name="Profile" id="tierLists_profile" />
</form>
<br>
<form method="post" action="/search"> <!--Change this action value for real searches-->
    Movie Title: <input type="text" name="movieSearch"> <br>
    <button>Search</button>
</form>
<br>
<form action="/logout" method="post">
    <input type="submit" value="Logout"
           name="Logout" id="tierLists_logout" />
</form>
<br>
<h1>Tier Lists Page</h1>
<br>
<h2>Tier Lists</h2>
<br>
<form action="/addTierList" method="post">
    Tier List Size: <input type="text" name="tierListSize">
    <input type="submit" value="Create New Tier List"
           name="Create New Tier List" id="tierLists_addTierList" />
</form>
<br>
<table>
    <tr>
        {{#each tierListsCollection}}
            <td>
                <table>
                    <tr>
                        <td>
                            {{name}}
                        </td>
                        <td>
                            <form method="post" action="/deleteTierList"> <!--Change this action value for real movie additions-->
                                <input type="hidden" name="index" value="{{@index}}">
                                <button>Delete</button>
                            </form>
                        </td>
                    </tr>
                    {{#each tierList}}
                        <tr>
                            <td>
                                {{name}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </td>
        {{/each}}
    </tr>
</table>