{{>navbar}} <!--Navbar Partial-->
<h2 class="text-center">Your Tier Lists</h2>
<br>
<div class="panel panel-default">
  <div class="panel-body">
    <form action="/addTierList" method="post" class="form-inline">
        Tier List Size: <input type="text" name="tierListSize" class="form-control" >
        <input type="submit" value="Create New Tier List"
               name="Create New Tier List" id="tierLists_addTierList" class="btn btn-default"/>
    </form>
    <br>
            {{#each tierListsCollection}}
                  <div class="tierListTableStyling">
                      <form method="post" action="/deleteTierList" class="form-inline"> <!--Change this action value for real movie additions-->
                          <input type="hidden" name="index" value="{{@index}}">
                          <button class="btn btn-default tierListTableButton">Delete</button>
                      </form>
                      <table class="table table-striped tierListTable">
                          <thead>
                          <tr>
                              <th class="text-center">
                                  {{name}}
                              </th>
                          </tr>
                          </thead>
                          <tbody>
                          {{#each tierList}}
                              <tr>
                                  <td class="text-center">
                                      {{name}}
                                  </td>
                              </tr>
                          {{/each}}
                          </tbody>
                      </table>
                  </div>
            {{/each}}
  </div>
</div>
