body{
    padding-top: 70px;
    margin-left: 20px;
}

.darkNav{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#474747+0,1c1c1c+100 */
    background: #474747 !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #474747 0%, #1c1c1c 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #474747 0%,#1c1c1c 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #474747 0%,#1c1c1c 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#1c1c1c',GradientType=0 ) !important; /* IE6-9 */

}

.darkNavText{
    color: white !important;
}

.darkNavText:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#262626+0,1c1c1c+100 */
    background: #262626; /* Old browsers */
    background: -moz-linear-gradient(top,  #262626 0%, #1c1c1c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #262626 0%,#1c1c1c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #262626 0%,#1c1c1c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-9 */

}

@media (min-width: 768px){
    .navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
}

#logout{
    height: 50px;
    color: white;
    border: 0px !important;
    border-radius: 0px !important;
    border-color: transparent !important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#474747+0,1c1c1c+100 */
    background: #474747 !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #474747 0%, #1c1c1c 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #474747 0%,#1c1c1c 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #474747 0%,#1c1c1c 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#1c1c1c',GradientType=0 ) !important; /* IE6-9 */
}

#logout:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#262626+0,1c1c1c+100 */
    background: #262626 !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #262626 0%, #1c1c1c 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #262626 0%,#1c1c1c 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #262626 0%,#1c1c1c 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#1c1c1c',GradientType=0 ) !important; /* IE6-9 */
}

#logoutForm {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.pageHeader{
    background-color: white !important;
    text-align: center !important;
}

#splash{
   width: 820px;
    height: 50%;
    background-color: transparent !important;
    margin: 0 auto;
    text-align: center;
}

#logo{
    margin-top: 10px;
    margin-left: 10px;
}

.signupUser{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
}

.signupPass{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
.signupInput{
    background-color: transparent;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    border: 0px !important;
    box-shadow: inset 3px 3px 3px 3px rgba(0,0,0,.075) !important;
    color: #d9d9d9 !important;
}

.signupInput::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #d9d9d9;
}
.signupInput:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #d9d9d9;
    opacity:  1;
}
.signupInput::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #d9d9d9;
    opacity:  1;
}
.signupInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #d9d9d9;
}

#signupButton{
    width: 100%;
    background-color: transparent;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    color: #d9d9d9 !important;
}

#signupButtonDiv{
    width: 100px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 100px;
}

#loginButtonDiv{
    position: absolute;
    width: 150px;
    top: 0px;
    left: 0px;
}

#loginButton{
    width: 100%;
    background-color: transparent;
    background-color: rgba(100, 100, 100, .3);
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    color: #d9d9d9 !important;
}

#taglineText{
    font-size: 350%;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    color: #cccccc !important;
}

.loginInput{
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif
    width: 50%;
    margin: auto;
}

.modalButtonDiv{
    width: 100px;
    display: inline-block;
}

.modalButtons {
    width: 100%;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.row {
  width: 100%;
  margin: 0 auto;
}
.block {
  width: 200px;
  display: inline-block;
}

.secret {
	visibility: hidden;
}
